<div class="login-container">
  <mat-card>
    <div class="login-container-logo">
        <img src="https://storage.googleapis.com/cdopeople.appspot.com/CDOI-Logo-Circ-(BLK).png">
    </div>
    <div class="login-container-title">Bienvenido a CDO People Admin System</div>
    <div class="login-container-form">
        <form [formGroup]="logInForm">
            <div>
              <mat-form-field appearance="fill" class="email-field">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="submitted && f['email'].errors">
                  email required
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="submitted && f['password'].errors">
                  password required
                </mat-error>
              </mat-form-field>
            </div>
      
            <div>
              <section>
                <div>
                  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">submit</button>
                </div>
              </section>
            </div>
            <div *ngIf="authError">
              <div>
                Access Denied
              </div>
            </div>
          </form>
    </div>

  </mat-card>
</div>
