.login-container
  display: grid
  grid-template-columns: 45% 55%

.left-column
  grid-column: 1

.rigth-column
  grid-column: 2
mat-card
    width: 320px
    height: 500px

mat-card .login-container-form
    margin-top:40px
    margin-left:45%
    transform: translateX(-50%)

mat-card .login-container-logo
    margin-left:45%
    transform: translateX(-50%)
    img
        width: 200px
        height: auto
mat-card .login-container-title
    // margin-left:50%
    // transform: translateX(-50%)
    text-align: center
    font-size: 15px
.email-field
    width: 238px

.forgor-password-container
  font-size: 10px
  cursor: pointer

.image-container
  background-size: cover
  background-repeat: no-repeat
  opacity: 40%
  height: 100vh
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cdopeople.appspot.com/o/314707119_10158525212021152_1786604821302321452_n.jpg?alt=media&token=7d0b0204-8788-4c10-aa7a-871f4f543de7")
