.login-container
    position: relative
    background-color: #65A2A7
    height: 100%
mat-card
    position: absolute
    width: 320px
    height: 400px
    top:0%
    right: 50%
    transform: translate(50%,50%)

mat-card .login-container-form
    margin-top:40px
    margin-left:45%
    transform: translateX(-50%)

mat-card .login-container-logo
    margin-left:45%
    transform: translateX(-50%)
    img
        width: 200px
        height: auto
mat-card .login-container-title
    // margin-left:50%
    // transform: translateX(-50%)
    text-align: center
    font-size: 15px