<div>
  <table mat-table [dataSource]="userList" class="mat-elevation-z0">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="Full Name">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstName}} {{row.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="Phone Number">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="Roles">
      <th mat-header-cell *matHeaderCellDef>Role</th>
  <!--    <td mat-cell *matCellDef="let row">{{row.roles}}</td>-->
      <td mat-cell *matCellDef="let row">
          <mat-select  [(value)]="row.selection"  multiple>
            <mat-select-trigger>
              {{row.selection[0]}}
              <span *ngIf="row.selection.length > 1" class="additional-selections">
                (+{{row.selection.length - 1}} {{row.selection.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option (onSelectionChange)="roleSelection(row, $event)" *ngFor="let value of row.roles" [value]="value.level">
              {{value.level}}
            </mat-option>
          </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row, let i = index">
          <span *ngIf="row.status.active"
                class="user-list_status badge badge-success"
                (click)="changeStatus(row, i)">Active</span>
          <span *ngIf="row.status?.inactive"
                class="user-list_status badge badge-danger"
                (click)="changeStatus(row, i)">Inactive</span>
          <span *ngIf="row.status?.pending"
                class="user-list_status badge badge-info"
                (click)="changeStatus(row, i)">Pending</span>
      </td>
  
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>