<div *ngIf="!showThanks"   class="forgot-component">
  <div class="title">
    I can help you. Please add your email to recover
  </div>
  <form [formGroup]="forgotPassword">
    <mat-form-field appearance="outline">
      <mat-label>Email Account | Direccion de Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <div class="button-component">
      <button mat-raised-button color="primary" type="submit" [disabled]="forgotPassword.invalid"  (click)="onSubmit()">Recover</button>
    </div>
  </form>
</div>
<div *ngIf="showThanks" class="forgot-component">
  <div class="title">
    Thanks for the request. Soon you would receive an email with the instruccion needed
  </div>

</div>
