<mat-sidenav-container class="example-container" >
    <!-- <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav> -->
    <mat-sidenav mode="side" opened>
        <ul>
            <li>
                <a routerLink="">Main</a>
            </li>
            <li>
                <a routerLink="users">Users</a>
            </li>
            <li>
                <a routerLink="encuentros">Encuentros</a>
                <ul>
                    <li>Varones</li>
                    <li>Mujeres</li>
                </ul>
            </li>
        </ul>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <app-menu></app-menu>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>