<div class="form-container">
  <form [formGroup]="passwordForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>New Password | Nuevo Password</mat-label>
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="f['newPassword'].hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="f['newPassword'].hasError('minlength')">
          The password needs to be minimum of 8 characters long
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password | Confirmar Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="f['confirmPassword'].errors">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="passwordDontMatch" class="password-error">
      Password is not matching
    </div>
    <div class="button-component">
      <button mat-raised-button color="primary" type="submit"   (click)="onSubmit()">Recover</button>
    </div>
  </form>
</div>
