<h2>Encuentro de {{eventName}}</h2>
<div>
  <div class="button-section">
    <section>
        <div class="section-button-row">
            <button mat-raised-button color="basic" type="submit" (click)="exportToExcel()">Export to Excel</button>
        </div>
    </section>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" #peopleTable>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="['participan']" [queryParams]="{sys_id: element.id}">{{element.firstName}} {{element.lastName}}</a> </td>
    </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="ReferedBy">
      <th mat-header-cell *matHeaderCellDef> Refered By </th>
      <td mat-cell *matCellDef="let element"> {{element.referedBy}} </td>
    </ng-container>
    <ng-container matColumnDef="ChuchFrom">
      <th mat-header-cell *matHeaderCellDef> Church from </th>
      <td mat-cell *matCellDef="let element"> {{element.churchFrom}} </td>
    </ng-container>
    <ng-container matColumnDef="EmergencyContact">
      <th mat-header-cell *matHeaderCellDef> Emergency Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.emergencyContact}} </td>
    </ng-container>
    <ng-container matColumnDef="Translation">
      <th mat-header-cell *matHeaderCellDef> Need Translation </th>
      <td mat-cell *matCellDef="let element"> {{element.translation}} </td>
    </ng-container>
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Age</th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
    <ng-container matColumnDef="Group">
      <th mat-header-cell *matHeaderCellDef> Group</th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'checkIn': row.checkIn == 'Yes' }"></tr>
  </table>
</div>


