<!-- This section it's going to be selector | A B C ... -->
<div class="main-container">
    <div class="main-container-selector">
        The selector Go here
        <div>
            A  B  C  D  E
        </div>
    </div>
    <div class="main-container-transaction" >
        <div class="main-container-consolidation">
            <div class="card-consolidador" *ngFor="let cons of consolidador;let i= index" >
                <mat-card dndDropzone
                (dndDrop)="onDrop($any($event), cons.id)"
                matBadge={{cons.coaching}}
                [matBadgeHidden]="cons.coaching == 0"
                (click)="openInformation(cons.id)"
                >
                    {{cons.data.name}} {{cons.data.last_name}}
                </mat-card>
            </div>
            
        </div>
        <div class="main-container-people">
            <div>
                <div class="card-people" *ngFor="let people of peopleModel">
                    <mat-card [dndDraggable]="people.sysId">
                        {{people.name}}  {{people.last_name}}
                        <div class="age-display">Age Range {{people.age}}</div>
                    </mat-card>
              </div>
        </div>
    </div>
</div>
