<!-- This section it's going to be selector | A B C ... -->
<div class="main-container">
    <div class="main-container-selector">
        The selector Go here
        <div>
            A  B  C  D  E
        </div>
    </div>
    <div class="main-container-transaction" >
        <div class="main-container-consolidation">
            <div class="card-consolidador" *ngFor="let cons of consolidador;let i= index" >
                <mat-card dndDropzone
                (dndDrop)="onDrop($any($event), i)"
                >
                    {{cons.name}} {{cons.last_name}} {{i}}
                </mat-card>
            </div>
            
        </div>
        <div class="main-container-people">
            <div class="example-list">
                <div *ngFor="let people of peopleModel">
                    <mat-card [dndDraggable]="people.firstName">
                        <!-- {{people.firstName}}  {{people.lastName}} -->
                    </mat-card>
              </div>
        </div>
    </div>
</div>
