<mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened>
        <div class="wrapper">
            <div class="company">
                <h2>
                    CDO People
                </h2>

            </div>
            <div class="sidebar">
                <ul>
                    <li *ngFor="let item of menuItems; let i=index">
                        <div *ngIf="!item.submenu;else showOption">
                            <a [routerLink]="item.route">
                                <span class="icon"><i class="{{item.icon}}"></i></span>{{item.name}}
                            </a>
                        </div>
                        <ng-template #showOption>
                            <a href="javascript:void(0);" (click)="openCollapse(i)">
                                <span class="icon"> <i class="{{item.icon}}"></i></span>{{item.name}}
                            </a>
                        </ng-template>
                        <ul *ngIf="item.show">
                            <li *ngFor=" let submenu of item.submenus">
                                <a [routerLink]="submenu.route" [queryParams]="submenu.queryParams">{{submenu.name}}</a>
                            </li>
                        </ul>
 
                    </li>
                </ul>
            </div>
        </div>

        
    </mat-sidenav>
    <mat-sidenav-content>
        <app-menu></app-menu>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>