<mat-sidenav-container class="example-container" >
    <!-- <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav> -->
    <mat-sidenav mode="side" opened>
        <ul>
            <li>
                <a routerLink="">Main</a>
            </li>
            <li>
                <a routerLink="users">Users</a>
            </li>
            <li>
                Encuentros
                <ul>
                    <li><a [routerLink]="['encuentros']" [queryParams]="{type: 'varones'}">Varones</a></li>
                </ul>
                <ul>
                    <li><a [routerLink]="['encuentros']" [queryParams]="{type: 'mujeres'}">Mujeres</a></li>
                </ul>
            </li>
            <li>
                New Life
                <ul>
                    <li><a [routerLink]="['newlife/discipuladores']">Discipuladores</a></li>
                </ul>
            </li>
            <li>
                <a  href="javascript:void(0);" (click)="logOut()">LogOut</a>
            </li>
        </ul>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <app-menu></app-menu>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>