.welcome-container
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  flex-direction: column
  background: #65A2A7

.title
  font-size: 24px
  text-align: center
  margin: 20px 0 20px 0
  padding: 12px
  font-weight: 500

.second-title
  font-size: 18px
  margin: 10px
  font-weight: 500

.column-100
  width: 100%

.mat-form-field
    margin: 0 2px 0 2px

body

