<div class="welcome-container">
  <mat-card>
    <div class="title">
      Bienvenido | Welcome
    </div>
    <div *ngIf="!showThanks">
      <form [formGroup]="welcomeForm">
        <!-- Basic information  -->
        <div formGroupName="basicInfo">
          <div class="second-title">
            Contact Information
          </div>
          <div>
            <mat-form-field class="column-100-small" appearance="outline">
              <mat-label>Nombre | Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="column-100-small" appearance="outline">
              <mat-label>Apellido | Last Name</mat-label>
              <input matInput formControlName="last_name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="column-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field  class="column-100" appearance="outline">
              <mat-label>Teléfono | Phone</mat-label>
              <input matInput mask="(000) 000-0000" formControlName="phone">
            </mat-form-field>
          </div>

        </div>
        <div formGroupName="addressInfo">
          <div class="second-title">
            Additional Information
          </div>
          <div>
            <div>
              <mat-form-field class="column-100" appearance="outline">
                <mat-label>Dirección | Address</mat-label>
                <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" matInput formControlName="address">
              </mat-form-field>
            </div>
            <mat-form-field class="column-100" appearance="outline">
              <mat-label>Ciudad | City</mat-label>
              <input matInput formControlName="city">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Codigo Postal | ZipCode</mat-label>
              <input matInput maxlength="5" formControlName="zipCode">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Estado | State</mat-label>
              <input matInput formControlName="state">
            </mat-form-field>
          </div>

        </div>
        <div formGroupName="extraInfo">
          <div>
            <mat-form-field class="column-100" appearance="outline">
              <mat-label>Me gustaria mas información | I'D like more information about</mat-label>
              <mat-select formControlName="iWant">
                <mat-option *ngFor="let iWant of iWantOptions" [value]="iWant">
                  {{iWant}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="column-100" appearance="outline">
              <mat-label>Yo soy | I'm</mat-label>
              <mat-select formControlName="iAm">
                <mat-option *ngFor="let iAmOption of iAmOptions" [value]="iAmOption">
                  {{iAmOption}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <div class="section-divider">
              <mat-label>Prefiero comunicacion en | I prefer communication in </mat-label>
            </div>
            <div class="section-divider">
              <mat-radio-group formControlName="language">
                <mat-radio-button value="english">English</mat-radio-button>
                <mat-radio-button value="spanish">Español</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div>
          <section>
            <div>
              <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Register</button>
            </div>
          </section>
        </div>
      </form>
    </div>
    <div *ngIf="showThanks">
      <div>
        Gracias por enviar el formulario
      </div>
      <div>
        Thanks for submitting the questionnaire
      </div>
    </div>
  </mat-card>
</div>
